[submodule "custom_nodes/facerestore_cf"]
	path = custom_nodes/facerestore_cf
	url = https://github.com/mav-rik/facerestore_cf.git
[submodule "custom_nodes/stability-ComfyUI-nodes"]
	path = custom_nodes/stability-ComfyUI-nodes
	url = https://github.com/Stability-AI/stability-ComfyUI-nodes.git
[submodule "custom_nodes/ComfyUI-post-processing-nodes"]
	path = custom_nodes/ComfyUI-post-processing-nodes
	url = https://github.com/EllangoK/ComfyUI-post-processing-nodes.git
[submodule "comfyui-art-venture"]
	path = comfyui-art-venture
	url = https://github.com/sipherxyz/comfyui-art-venture.git
[submodule "custom_nodes/ComfyUI-LatentSyncWrapper"]
	path = custom_nodes/ComfyUI-LatentSyncWrapper
	url = https://github.com/ShmuelRonen/ComfyUI-LatentSyncWrapper.git
[submodule "custom_node/ComfyUI-LivePortraitKJ"]
	path = custom_node/ComfyUI-LivePortraitKJ
	url = https://github.com/kijai/ComfyUI-LivePortraitKJ
[submodule "custom_nodes/ComfyUI-Gemini"]
	path = custom_nodes/ComfyUI-Gemini
	url = https://github.com/ZHO-ZHO-ZHO/ComfyUI-Gemini
[submodule "custom_nodes/ComfyUI-Bringing-Old-Photos-Back-to-Life"]
	path = custom_nodes/ComfyUI-Bringing-Old-Photos-Back-to-Life
	url = https://github.com/cdb-boop/ComfyUI-Bringing-Old-Photos-Back-to-Life
[submodule "custom_nodes/ComfyUI-AutomaticCFG"]
	path = custom_nodes/ComfyUI-AutomaticCFG
	url = https://github.com/Extraltodeus/ComfyUI-AutomaticCFG
[submodule "custom_nodes/comfyui-art-venture"]
	path = custom_nodes/comfyui-art-venture
	url = https://github.com/sipherxyz/comfyui-art-venture
[submodule "custom_nodes/comfyui-image-round"]
	path = custom_nodes/comfyui-image-round
	url = https://github.com/cdb-boop/comfyui-image-round
[submodule "custom_nodes/ComfyUI-LivePortraitKJ"]
	path = custom_nodes/ComfyUI-LivePortraitKJ
	url = https://github.com/kijai/ComfyUI-LivePortraitKJ
[submodule "custom_nodes/ComfyUI_HD_Node"]
	path = custom_nodes/ComfyUI_HD_Node
	url = https://github.com/xiaoxiaodesha/hd_node
[submodule "custom_nodes/ComfyUI-Kolors-MZ"]
	path = custom_nodes/ComfyUI-Kolors-MZ
	url = https://github.com/MinusZoneAI/ComfyUI-Kolors-MZ.git
[submodule "custom_nodes/ComfyUI-segment-anything-2"]
	path = custom_nodes/ComfyUI-segment-anything-2
	url = https://github.com/kijai/ComfyUI-segment-anything-2.git
[submodule "custom_nodes/ComfyUI_AdvancedRefluxControl"]
	path = custom_nodes/ComfyUI_AdvancedRefluxControl
	url = https://github.com/kaibioinfo/ComfyUI_AdvancedRefluxControl
[submodule "custom_nodes/comfyui-tensorops"]
	path = custom_nodes/comfyui-tensorops
	url = https://github.com/un-seen/comfyui-tensorops
[submodule "custom_nodes/ComfyUI-NeuralMedia"]
	path = custom_nodes/ComfyUI-NeuralMedia
	url = https://github.com/YarvixPA/ComfyUI-NeuralMedia
[submodule "custom_nodes/ComfyUI_essentials"]
	path = custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials
[submodule "custom_nodes/ComfyUI-Apply_Style_Model_Adjust"]
	path = custom_nodes/ComfyUI-Apply_Style_Model_Adjust
	url = https://github.com/ShmuelRonen/ComfyUI-Apply_Style_Model_Adjust
[submodule "custom_nodes/mikey_nodes"]
	path = custom_nodes/mikey_nodes
	url = https://github.com/bash-j/mikey_nodes.git
[submodule "custom_nodes/ComfyUI-Dragonfly-Agent"]
	path = custom_nodes/ComfyUI-Dragonfly-Agent
	url = https://github.com/Eric-Zhong/ComfyUI-Dragonfly-Agent.git
[submodule "custom_nodes/ComfyUI-Copilot"]
	path = custom_nodes/ComfyUI-Copilot
	url = https://github.com/AIDC-AI/ComfyUI-Copilot.git
